#logo {
  width: 130px;
  max-width: 149px;
  max-height: 95px;
}
.elementor-element.elementor-element-7cff924.elementor-widget.elementor-widget-image
  img {
  max-width: 200px;
}

button {
  width: 130px;
}

footer p,
footer h1,
footer h2,
footer h3,
footer form,
#news_letter,
.news_letter_title {
  color: white !important;
}

footer input {
  border: solid 1px white !important;
}

/* smagskasser side */

.smagskasser-header {
  width: 100%;
  max-height: 120px;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 45px;
}

.smagskasse-info {
  display: grid;
  grid-template-columns: auto minmax(auto, 50px);
  margin-bottom: 3rem;
}

@media (min-width: 769px) {
  .smagskasser-header {
    padding: unset;
    width: 100vw;
    max-height: 120px;
  }
}
